<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataSource" type="UserApp.Config.DataSourceSection, UserApp" />
  </configSections>
   <!--type: SQLServer, XML, INMEMORY--> 
  <dataSources type="INMEMORY" />
  <!--<dataSources type="XML" path="C:\Test\users.xml"/>-->
  <!--<dataSource type="SQLServer"
               connStr="data source=.\SQLEXPRESS;initial catalog=userapp_db;trusted_connection=true;TrustServerCertificate=True"/>-->
</configuration>